<%- model_class = Sensor -%>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
      <ol class="breadcrumb">
        <li><%= link_to '<svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg>'.html_safe, sensors_path%></li>
        <li class="active"> <svg class="glyph stroked wireless router"><use xlink:href="#stroked-wireless-router"/></svg> <%= @sensor.name %> </li>
      </ol>
    </div><!--/.row-->



    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading"><%= @sensor.name %>  Details</div>
            <dl class="dl-horizontal">
            <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
            <dd><%= @sensor.name %></dd>
            <dt><strong><%= model_class.human_attribute_name(:type) %>:</strong></dt>
            <dd><%= @sensor.node_type %></dd>
            <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
            <dd><%= @sensor.address %></dd>
            <dt><strong><%= model_class.human_attribute_name(:temperature) %>:</strong></dt>
            <dd><%= @temp %></dd>
            <dt><strong><%= model_class.human_attribute_name(:light) %>:</strong></dt>
            <dd><%= @light %></dd>
          </dl>
        </div>
      </div>
    </div><!--/.row-->
  </div>  <!--/.main-->
